tipos-variaveis/.vscode/settings.json
.vscode/settings.json
sintaxe-java-basico/operadores\.vscode
sintaxe-java-basico/metodos\.vscode
projetos\primeiros-desafios\OrganizandoAtivos\.vscode
projetos\primeiros-desafios\JurosCompostos\.vscode
projetos\primeiros-desafios\GrandeDeposito\.vscode
projetos\primeiros-desafios\EquilibrandoSaldo\.vscode
projetos\primeiros-desafios\CondicionalmenteRico\.vscode
projetos\ContaBanco\.vscode
sintaxe-java-basico/operadores/.vscode/settings.json
sintaxe-java-basico/metodos/.vscode/settings.json
